NET "AC97_SDATA_OUT" LOC = "E8";
NET "AC97_SDATA_IN" LOC = "E9";
NET "AC97_SYNCH" LOC = "F7";
NET "AC97_BIT_CLOCK" LOC = "F8";

NET "AUDIO_RESET_Z" LOC = "E6";
NET "BEEP_TONE_IN" LOC = "E7";

NET "AC97_SDATA_OUT" IOSTANDARD = LVTTL;
NET "AC97_SDATA_IN" IOSTANDARD = LVTTL;
NET "AC97_SYNCH" IOSTANDARD = LVTTL;
NET "AC97_BIT_CLOCK" IOSTANDARD = LVTTL;

NET "AUDIO_RESET_Z" IOSTANDARD = LVTTL;
NET "BEEP_TONE_IN" IOSTANDARD = LVTTL;

NET "AC97_SDATA_OUT" DRIVE = 8; 
NET "AC97_SYNCH" DRIVE = 8;
NET "AUDIO_RESET_Z" DRIVE = 8; 
NET "BEEP_TONE_IN" DRIVE = 8;

NET "AC97_SDATA_OUT" SLEW = SLOW;
NET "AC97_SYNCH" SLEW = SLOW;
NET "AUDIO_RESET_Z" SLEW = SLOW; 
NET "BEEP_TONE_IN" SLEW = SLOW;




