NET "CPU_TDO" LOC = "AG16";
NET "CPU_TDI" LOC = "AF15";
NET "CPU_TMS" LOC = "AJ16";
NET "CPU_TCK" LOC = "AG15";
NET "CPU_TRST" LOC = "AC21";
NET "CPU_HALT_Z" LOC = "AJ23";
NET "PROC_RESET_Z" LOC = "AH5";

NET "CPU_TDO" IOSTANDARD = LVCMOS25;
NET "CPU_TDI" IOSTANDARD = LVCMOS25;
NET "CPU_TMS" IOSTANDARD = LVCMOS25;
NET "CPU_TCK" IOSTANDARD = LVCMOS25;
NET "CPU_TRST" IOSTANDARD = LVCMOS25;
NET "CPU_HALT_Z" IOSTANDARD = LVCMOS25;
NET "PROC_RESET_Z" IOSTANDARD = LVTTL;

NET "CPU_TDO" DRIVE = 12;
NET "CPU_TDO" SLEW = SLOW;