NET "TX_DATA[0]" LOC = "J7";
NET "TX_DATA[1]" LOC = "J8";
NET "TX_DATA[2]" LOC = "C1";
NET "TX_DATA[3]" LOC = "C2";
NET "TX_ERROR" LOC = "H2";
NET "TX_CLOCK" LOC = "D3";
NET "TX_ENABLE" LOC = "C4";

NET "TX_DATA[*]" IOSTANDARD = LVTTL;
NET "TX_DATA[*]" DRIVE = 8;
NET "TX_DATA[*]" SLEW = SLOW;

NET "TX_ERROR" IOSTANDARD = LVTTL;
NET "TX_ERROR" DRIVE = 8;
NET "TX_ERROR" SLEW = SLOW;

NET "TX_CLOCK" IOSTANDARD = LVTTL;

NET "TX_ENABLE" IOSTANDARD = LVTTL;
NET "TX_ENABLE" DRIVE = 8;
NET "TX_ENABLE" SLEW = SLOW;

NET "RX_DATA[0]" LOC = "K6";
NET "RX_DATA[1]" LOC = "K5";
NET "RX_DATA[2]" LOC = "J1";
NET "RX_DATA[3]" LOC = "K1";
NET "RX_DATA_VALID" LOC = "M7";
NET "RX_ERROR" LOC = "J2";
NET "RX_CLOCK" LOC = "M8";

NET "RX_DATA[*]" IOSTANDARD = LVTTL;
NET "RX_ERROR" IOSTANDARD = LVTTL;
NET "RX_CLOCK" IOSTANDARD = LVTTL;
NET "RX_DATA_VALID" IOSTANDARD = LVTTL;


NET "ENET_RESET_Z" LOC = "G6";
NET "CARRIER_SENSE" LOC = "C5";
NET "COL_DETECT" LOC = "D5";
NET "ENET_SLEW0" LOC = "B3";
NET "ENET_SLEW1" LOC = "A3";
NET "MDIO" LOC = "M5";
NET "MDC" LOC = "M6";
NET "MDINIT_Z" LOC = "G5";
NET "PAUSE" LOC = "J4";
NET "SSN_DATA" LOC = "J3";

NET "ENET_RESET_Z" IOSTANDARD = LVTTL;
NET "ENET_RESET_Z" DRIVE = 8;
NET "ENET_RESET_Z" SLEW = SLOW;

NET "CARRIER_SENSE" IOSTANDARD = LVTTL;
NET "COL_DETECT" IOSTANDARD = LVTTL;

NET "ENET_SLEW0" IOSTANDARD = LVTTL;
NET "ENET_SLEW1" IOSTANDARD = LVTTL;
NET "ENET_SLEW0" DRIVE = 8;
NET "ENET_SLEW1" DRIVE = 8;
NET "ENET_SLEW0" SLEW = SLOW;
NET "ENET_SLEW1" SLEW = SLOW;

NET "MDIO" IOSTANDARD = LVTTL;
NET "MDC"  IOSTANDARD = LVTTL;
NET "MDIO" DRIVE = 8;
NET "MDC"  DRIVE = 8;
NET "MDIO" SLEW = SLOW;
NET "MDC"  SLEW = SLOW;

NET "MDINIT_Z" IOSTANDARD = LVTTL;

NET "PAUSE" IOSTANDARD = LVTTL;
NET "PAUSE" DRIVE = 8;
NET "PAUSE" SLEW = SLOW;

NET "SSN_DATA" IOSTANDARD = LVTTL;
NET "SSN_DATA" DRIVE = 8;
NET "SSN_DATA" SLEW = SLOW;

