NET "EXP_IO_60" LOC = "Y2";
NET "EXP_IO_61" LOC = "AA2";
NET "EXP_IO_62" LOC = "V7";
NET "EXP_IO_63" LOC = "V8";
NET "EXP_IO_64" LOC = "W3";
NET "EXP_IO_65" LOC = "W4";
NET "EXP_IO_66" LOC = "AA1";
NET "EXP_IO_67" LOC = "AB1";
NET "EXP_IO_68" LOC = "W5";
NET "EXP_IO_69" LOC = "W6";
NET "EXP_IO_70" LOC = "Y4";
NET "EXP_IO_71" LOC = "Y5";
NET "EXP_IO_72" LOC = "AA3";
NET "EXP_IO_73" LOC = "AA4";
NET "EXP_IO_74" LOC = "W7";
NET "EXP_IO_75" LOC = "W8";
NET "EXP_IO_76" LOC = "AB3";
NET "EXP_IO_77" LOC = "AB4";
NET "EXP_IO_78" LOC = "AB2";
NET "EXP_IO_79" LOC = "AC2";

NET "EXP_IO_*" IOSTANDARD = LVTTL;
