NET "EXP_IO_0" LOC = "K2";
NET "EXP_IO_1" LOC = "L2";
NET "EXP_IO_2" LOC = "N8";
NET "EXP_IO_3" LOC = "N7";
NET "EXP_IO_4" LOC = "K4";
NET "EXP_IO_5" LOC = "K3";
NET "EXP_IO_6" LOC = "L1";
NET "EXP_IO_7" LOC = "M1";
NET "EXP_IO_8" LOC = "N6";
NET "EXP_IO_9" LOC = "N5";
NET "EXP_IO_10" LOC = "L5";
NET "EXP_IO_11" LOC = "L4";
NET "EXP_IO_12" LOC = "M2";
NET "EXP_IO_13" LOC = "N2";
NET "EXP_IO_14" LOC = "P9";
NET "EXP_IO_15" LOC = "R9";
NET "EXP_IO_16" LOC = "M4";
NET "EXP_IO_17" LOC = "M3";
NET "EXP_IO_18" LOC = "N1";
NET "EXP_IO_19" LOC = "P1";

NET "EXP_IO_*" IOSTANDARD = LVTTL;
