NET "EXP_IO_40" LOC = "T3";
NET "EXP_IO_41" LOC = "T4";
NET "EXP_IO_42" LOC = "U2";
NET "EXP_IO_43" LOC = "U3";
NET "EXP_IO_44" LOC = "T7";
NET "EXP_IO_45" LOC = "T8";
NET "EXP_IO_46" LOC = "U4";
NET "EXP_IO_47" LOC = "U5";
NET "EXP_IO_48" LOC = "V2";
NET "EXP_IO_49" LOC = "W2";
NET "EXP_IO_50" LOC = "T9";
NET "EXP_IO_51" LOC = "U9";
NET "EXP_IO_52" LOC = "V3";
NET "EXP_IO_53" LOC = "V4";
NET "EXP_IO_54" LOC = "W1";
NET "EXP_IO_55" LOC = "Y1";
NET "EXP_IO_56" LOC = "U7";
NET "EXP_IO_57" LOC = "U8";
NET "EXP_IO_58" LOC = "V5";
NET "EXP_IO_59" LOC = "V6";

NET "EXP_IO_*" IOSTANDARD = LVTTL;
