NET "HS_IO[*]" IOSTANDARD = LVTTL;
NET "HS_CLKOUT" IOSTANDARD = LVTTL;
NET "HS_CLKIN" IOSTANDARD = LVCMOS25;
NET "HS_CLKIO" IOSTANDARD = LVTTL;

NET "HS_IO[1]"  LOC = "AF6";
NET "HS_IO[2]"  LOC = "AE5";
NET "HS_IO[3]"  LOC = "AB8";
NET "HS_IO[4]"  LOC = "AB7";
NET "HS_IO[5]"  LOC = "AE4";
NET "HS_IO[6]"  LOC = "AE3";
NET "HS_IO[7]"  LOC = "AF4";
NET "HS_IO[8]"  LOC = "AF3";
NET "HS_IO[9]"  LOC = "AC6";
NET "HS_IO[10]"  LOC = "AC5";
NET "HS_IO[11]" LOC = "AF2";
NET "HS_IO[12]" LOC = "AF1";
NET "HS_IO[13]" LOC = "AD4";
NET "HS_IO[14]" LOC = "AD3";
NET "HS_IO[15]" LOC = "AA8";
NET "HS_IO[16]" LOC = "AA7";
NET "HS_IO[17]" LOC = "AE2";
NET "HS_IO[18]" LOC = "AE1";
NET "HS_IO[19]" LOC = "AB6";
NET "HS_IO[20]" LOC = "AB5";
NET "HS_IO[21]" LOC = "Y8";
NET "HS_IO[22]" LOC = "Y7";
NET "HS_IO[23]" LOC = "AD2";
NET "HS_IO[24]" LOC = "AD1";
NET "HS_IO[25]" LOC = "L7";
NET "HS_IO[26]" LOC = "L8";
NET "HS_IO[27]" LOC = "G1";
NET "HS_IO[28]" LOC = "G2";
NET "HS_IO[29]" LOC = "G3";
NET "HS_IO[30]" LOC = "G4";
NET "HS_IO[31]" LOC = "J5";
NET "HS_IO[32]" LOC = "J6";
NET "HS_IO[33]" LOC = "F1";
NET "HS_IO[34]" LOC = "F2";
NET "HS_IO[35]" LOC = "F3";
NET "HS_IO[36]" LOC = "F4";
NET "HS_IO[37]" LOC = "K7";
NET "HS_IO[38]" LOC = "K8";
NET "HS_IO[39]" LOC = "E1";
NET "HS_IO[40]" LOC = "E2";
NET "HS_CLKOUT" LOC = "E4";
NET "HS_CLKIN" LOC = "B16";
NET "HS_CLKIO" LOC = "E3";