NET "LED_0" LOC = "AC4";
NET "LED_1" LOC = "AC3";
NET "LED_2" LOC = "AA6";
NET "LED_3" LOC = "AA5";

NET "LED_0" IOSTANDARD = LVTTL;
NET "LED_1" IOSTANDARD = LVTTL;
NET "LED_2" IOSTANDARD = LVTTL;
NET "LED_3" IOSTANDARD = LVTTL;

NET "LED_0" DRIVE = 12;
NET "LED_1" DRIVE = 12;
NET "LED_2" DRIVE = 12;
NET "LED_3" DRIVE = 12;

NET "LED_0" SLEW = SLOW;
NET "LED_1" SLEW = SLOW;
NET "LED_2" SLEW = SLOW;
NET "LED_3" SLEW = SLOW;


