## PINOUT AND IO DRIVE CHARACTERISTICS FOR THE LEFT LOW SPEED
## EXPANSION PORT OF THE XUP-V2PRO DEVELOPMENT SYSTEM
## REVISION C PRINTED CIRCUIT BOARD DEC 8 2004


NET "EXP_IO_8" LOC = "N6";
NET "EXP_IO_9" LOC = "N5";
NET "EXP_IO_10" LOC = "L5";
NET "EXP_IO_11" LOC = "L4";
NET "EXP_IO_12" LOC = "M2";
NET "EXP_IO_13" LOC = "N2";
NET "EXP_IO_14" LOC = "P9";
NET "EXP_IO_15" LOC = "R9";
NET "EXP_IO_16" LOC = "M4";
NET "EXP_IO_17" LOC = "M3";
NET "EXP_IO_18" LOC = "N1";
NET "EXP_IO_19" LOC = "P1";
NET "EXP_IO_20" LOC = "P8";
NET "EXP_IO_21" LOC = "P7";
NET "EXP_IO_22" LOC = "N4";
NET "EXP_IO_23" LOC = "N3";
NET "EXP_IO_24" LOC = "P3";
NET "EXP_IO_25" LOC = "P2";
NET "EXP_IO_26" LOC = "R8";
NET "EXP_IO_27" LOC = "R7";
NET "EXP_IO_28" LOC = "P5";
NET "EXP_IO_29" LOC = "P4";
NET "EXP_IO_30" LOC = "R2";
NET "EXP_IO_31" LOC = "T2";
NET "EXP_IO_32" LOC = "R6";
NET "EXP_IO_33" LOC = "R5";
NET "EXP_IO_34" LOC = "R4";
NET "EXP_IO_35" LOC = "R3";
NET "EXP_IO_36" LOC = "U1";
NET "EXP_IO_37" LOC = "V1";
NET "EXP_IO_38" LOC = "T5";
NET "EXP_IO_39" LOC = "T6";
NET "EXP_IO_40" LOC = "T3";
NET "EXP_IO_41" LOC = "T4";
NET "EXP_IO_42" LOC = "U2";
NET "EXP_IO_43" LOC = "U3";
NET "EXP_IO_44" LOC = "T7";


NET "EXP_IO_*" IOSTANDARD = LVTTL;
