NET "KBD_CLOCK" LOC = "AG2";
NET "KBD_DATA" LOC = "AG1";
NET "MOUSE_CLOCK" LOC = "AD6";
NET "MOUSE_DATA" LOC = "AD5";

NET "KBD_CLOCK" IOSTANDARD = LVTTL;
NET "KBD_DATA" IOSTANDARD = LVTTL;
NET "MOUSE_CLOCK" IOSTANDARD = LVTTL;
NET "MOUSE_DATA" IOSTANDARD = LVTTL;

NET "KBD_CLOCK" DRIVE = 8;
NET "KBD_DATA" DRIVE = 8;
NET "MOUSE_CLOCK" DRIVE = 8;
NET "MOUSE_DATA" DRIVE = 8;

NET "KBD_CLOCK" SLEW = SLOW;
NET "KBD_DATA" SLEW = SLOW;
NET "MOUSE_CLOCK" SLEW = SLOW;
NET "MOUSE_DATA" SLEW = SLOW;
