NET "PB_ENTER" LOC = "AG5";
NET "PB_UP" LOC = "AH4";
NET "PB_DOWN" LOC = "AG3";
NET "PB_LEFT" LOC = "AH1";
NET "PB_RIGHT" LOC = "AH2";

NET "PB_ENTER" IOSTANDARD = LVTTL;
NET "PB_UP" IOSTANDARD = LVTTL;
NET "PB_DOWN" IOSTANDARD = LVTTL;
NET "PB_LEFT" IOSTANDARD = LVTTL;
NET "PB_RIGHT" IOSTANDARD = LVTTL;
