## PINOUT AND IO DRIVE CHARACTERISTICS FOR THE RIGHT LOW SPEED
## EXPANSION PORT OF THE XUP-V2PRO DEVELOPMENT SYSTEM
## REVISION C PRINTED CIRCUIT BOARD DEC 8 2004

NET "EXP_IO_45" LOC = "T8";
NET "EXP_IO_46" LOC = "U4";
NET "EXP_IO_47" LOC = "U5";
NET "EXP_IO_48" LOC = "V2";
NET "EXP_IO_49" LOC = "W2";
NET "EXP_IO_50" LOC = "T9";
NET "EXP_IO_51" LOC = "U9";
NET "EXP_IO_52" LOC = "V3";
NET "EXP_IO_53" LOC = "V4";
NET "EXP_IO_54" LOC = "W1";
NET "EXP_IO_55" LOC = "Y1";
NET "EXP_IO_56" LOC = "U7";
NET "EXP_IO_57" LOC = "U8";
NET "EXP_IO_58" LOC = "V5";
NET "EXP_IO_59" LOC = "V6";
NET "EXP_IO_60" LOC = "Y2";
NET "EXP_IO_61" LOC = "AA2";
NET "EXP_IO_62" LOC = "V7";
NET "EXP_IO_63" LOC = "V8";
NET "EXP_IO_64" LOC = "W3";
NET "EXP_IO_65" LOC = "W4";
NET "EXP_IO_66" LOC = "AA1";
NET "EXP_IO_67" LOC = "AB1";
NET "EXP_IO_68" LOC = "W5";
NET "EXP_IO_69" LOC = "W6";
NET "EXP_IO_70" LOC = "Y4";
NET "EXP_IO_71" LOC = "Y5";
NET "EXP_IO_72" LOC = "AA3";
NET "EXP_IO_73" LOC = "AA4";
NET "EXP_IO_74" LOC = "W7";
NET "EXP_IO_75" LOC = "W8";
NET "EXP_IO_76" LOC = "AB3";

NET "EXP_IO_*" IOSTANDARD = LVTTL;
