NET "RS232_TX_DATA" LOC = "AE7";
NET "RS232_RX_DATA" LOC = "AJ8";
NET "RS232_DSR_OUT" LOC = "AD10";
NET "RS232_CTS_OUT" LOC = "AE8";
NET "RS232_RTS_IN"  LOC = "AK8";

NET "RS232_TX_DATA" IOSTANDARD = LVCMOS25;
NET "RS232_RX_DATA" IOSTANDARD = LVCMOS25;
NET "RS232_DSR_OUT" IOSTANDARD = LVCMOS25;
NET "RS232_CTS_OUT" IOSTANDARD = LVCMOS25;
NET "RS232_RTS_IN"  IOSTANDARD = LVCMOS25;

NET "RS232_TX_DATA" DRIVE = 8;
NET "RS232_DSR_OUT" DRIVE = 8;
NET "RS232_CTS_OUT" DRIVE = 8;

NET "RS232_TX_DATA" SLEW = SLOW;
NET "RS232_DSR_OUT" SLEW = SLOW;
NET "RS232_CTS_OUT" SLEW = SLOW;

