NET "SDRAM_DQ[*]"    IOSTANDARD = SSTL2_II;
NET "SDRAM_CB[*]"    IOSTANDARD = SSTL2_II;
NET "SDRAM_DQS[*]"   IOSTANDARD = SSTL2_II;
NET "SDRAM_DM[*]"    IOSTANDARD = SSTL2_II;
NET "SDRAM_CK*"      IOSTANDARD = SSTL2_II;
NET "SDRAM_CK*_Z"    IOSTANDARD = SSTL2_II;
NET "SDRAM_A[*]"     IOSTANDARD = SSTL2_II;
NET "SDRAM_BA*"      IOSTANDARD = SSTL2_II;
NET "SDRAM_RAS_Z"    IOSTANDARD = SSTL2_II;
NET "SDRAM_CAS_Z"    IOSTANDARD = SSTL2_II;
NET "SDRAM_WE_Z"     IOSTANDARD = SSTL2_II;
NET "SDRAM_S*_Z"     IOSTANDARD = SSTL2_II;
NET "SDRAM_CKE*"     IOSTANDARD = SSTL2_II;


NET "SDRAM_CK2"     LOC = "AB23" ;
NET "SDRAM_CK2_Z"   LOC = "AB24" ;
NET "SDRAM_CK1"     LOC = "AD29" ;
NET "SDRAM_CK1_Z"   LOC = "AD30" ;
NET "SDRAM_CK0"     LOC = "AC27" ;
NET "SDRAM_CK0_Z"   LOC = "AC28" ;
NET "SDRAM_CKE0"    LOC = "R26" ;
NET "SDRAM_CKE1"    LOC = "R25" ;
NET "SDRAM_SO_Z"    LOC = "R24" ;
NET "SDRAM_S1_Z"    LOC = "R23" ;
NET "SDRAM_RAS_Z"   LOC = "N29" ;
NET "SDRAM_CAS_Z"   LOC = "L27" ;
NET "SDRAM_WE_Z"    LOC = "N26" ;
NET "SDRAM_BA0"     LOC = "M26" ;
NET "SDRAM_BA1"     LOC = "K26" ;

NET "SDRAM_A[13]"   LOC = "M23" ;
NET "SDRAM_A[12]"   LOC = "M24" ;
NET "SDRAM_A[11]"   LOC = "F30" ;
NET "SDRAM_A[10]"   LOC = "F28" ;
NET "SDRAM_A[9]"    LOC = "K24" ;
NET "SDRAM_A[8]"    LOC = "J24" ;
NET "SDRAM_A[7]"    LOC = "D26" ;
NET "SDRAM_A[6]"    LOC = "G26" ;
NET "SDRAM_A[5]"    LOC = "G25" ;
NET "SDRAM_A[4]"    LOC = "K30" ;
NET "SDRAM_A[3]"    LOC = "M29" ;
NET "SDRAM_A[2]"    LOC = "L26" ;
NET "SDRAM_A[1]"    LOC = "N25" ;
NET "SDRAM_A[0]"    LOC = "M25" ;

#############################################
# NET REQUIRED FOR XMIL IMPLEMENTATION
#############################################
#NET "RST_DQS_DIV"   LOC = "P27" ;
#NET "RST_DQS_DIV"   LOC = "P26" ;

NET "SDRAM_DQS[7]" LOC = "AH26" ;
NET "SDRAM_DM[7]"  LOC = "W25"  ;
NET "SDRAM_DQ[63]" LOC = "AH29" ;
NET "SDRAM_DQ[62]" LOC = "AH27" ;
NET "SDRAM_DQ[61]" LOC = "AG28" ;
NET "SDRAM_DQ[60]" LOC = "AD25" ;
NET "SDRAM_DQ[59]" LOC = "AD26" ;
NET "SDRAM_DQ[58]" LOC = "AG29" ;
NET "SDRAM_DQ[57]" LOC = "AG30" ;
NET "SDRAM_DQ[56]" LOC = "AF25" ;

NET "SDRAM_DQS[6]" LOC = "AC25" ;
NET "SDRAM_DM[6]"  LOC = "W26"  ;
NET "SDRAM_DQ[55]" LOC = "AF29" ;
NET "SDRAM_DQ[54]" LOC = "AF30" ;
NET "SDRAM_DQ[53]" LOC = "AD27" ;
NET "SDRAM_DQ[52]" LOC = "AD28" ;
NET "SDRAM_DQ[51]" LOC = "AA23" ;
NET "SDRAM_DQ[50]" LOC = "AA24" ;
NET "SDRAM_DQ[49]" LOC = "AE29" ;
NET "SDRAM_DQ[48]" LOC = "AB25" ;

NET "SDRAM_DQS[5]" LOC = "AA25  ;
NET "SDRAM_DM[5]"  LOC = "W27"  ;
NET "SDRAM_DQ[47]" LOC = "AC29" ;
NET "SDRAM_DQ[46]" LOC = "AB27" ;
NET "SDRAM_DQ[45]" LOC = "AB28" ;
NET "SDRAM_DQ[44]" LOC = "W23"  ;
NET "SDRAM_DQ[43]" LOC = "W24"  ;
NET "SDRAM_DQ[42]" LOC = "AA27" ;
NET "SDRAM_DQ[41]" LOC = "AA28" ;
NET "SDRAM_DQ[40]" LOC = "Y26"  ;

NET "SDRAM_DQS[4]" LOC = "V23"  ;
NET "SDRAM_DM[4]"  LOC = "W28"  ;
NET "SDRAM_DQ[39]" LOC = "AA29" ;
NET "SDRAM_DQ[38]" LOC = "Y29"  ;
NET "SDRAM_DQ[37]" LOC = "V25"  ;
NET "SDRAM_DQ[36]" LOC = "V26"  ;
NET "SDRAM_DQ[35]" LOC = "U23"  ;
NET "SDRAM_DQ[34]" LOC = "U24"  ;
NET "SDRAM_DQ[33]" LOC = "Y30"  ;
NET "SDRAM_DQ[32]" LOC = "V27"  ;

NET "SDRAM_DQS[8]" LOC = "T23" ;
NET "SDRAM_DM[8]"  LOC = "U22" ;
NET "SDRAM_CB[7]"  LOC = "U28" ;
NET "SDRAM_CB[6]"  LOC = "T27" ;
NET "SDRAM_CB[5]"  LOC = "T28" ;
NET "SDRAM_CB[4]"  LOC = "T25" ;
NET "SDRAM_CB[3]"  LOC = "T26" ;
NET "SDRAM_CB[2]"  LOC = "V30" ;
NET "SDRAM_CB[1]"  LOC = "U30" ;
NET "SDRAM_CB[0]"  LOC = "R28" ;

NET "SDRAM_DQS[3]" LOC = "P29" ;
NET "SDRAM_DM[3]"  LOC = "T22" ;
NET "SDRAM_DQ[31]" LOC = "N28" ;
NET "SDRAM_DQ[30]" LOC = "N27" ;
NET "SDRAM_DQ[29]" LOC = "P24" ;
NET "SDRAM_DQ[28]" LOC = "P23" ;
NET "SDRAM_DQ[27]" LOC = "P30" ;
NET "SDRAM_DQ[26]" LOC = "M28" ;
NET "SDRAM_DQ[25]" LOC = "M27" ;
NET "SDRAM_DQ[24]" LOC = "R22" ;

NET "SDRAM_DQS[2]" LOC = "M30" ;
NET "SDRAM_DM[2]"  LOC = "W29" ;
NET "SDRAM_DQ[23]" LOC = "K28" ;
NET "SDRAM_DQ[22]" LOC = "K27" ;
NET "SDRAM_DQ[21]" LOC = "N24" ;
NET "SDRAM_DQ[20]" LOC = "N23" ;
NET "SDRAM_DQ[19]" LOC = "L29" ;
NET "SDRAM_DQ[18]" LOC = "K29" ;
NET "SDRAM_DQ[17]" LOC = "J28" ;
NET "SDRAM_DQ[16]" LOC = "J27" ;

NET "SDRAM_DQS[1]" LOC = "J29" ;
NET "SDRAM_DM[1]"  LOC = "V29" ;
NET "SDRAM_DQ[15]" LOC = "H28" ;
NET "SDRAM_DQ[14]" LOC = "H27" ;
NET "SDRAM_DQ[13]" LOC = "L24" ;
NET "SDRAM_DQ[12]" LOC = "L23" ;
NET "SDRAM_DQ[11]" LOC = "G30" ;
NET "SDRAM_DQ[10]" LOC = "G28" ;
NET "SDRAM_DQ[9]"  LOC = "G27" ;
NET "SDRAM_DQ[8]"  LOC = "J26" ;

NET "SDRAM_DQS[0]" LOC = "E30" ;
NET "SDRAM_DM[0]"  LOC = "U26" ;
NET "SDRAM_DQ[7]"  LOC = "E28" ;
NET "SDRAM_DQ[6]"  LOC = "E27" ;
NET "SDRAM_DQ[5]"  LOC = "H26" ;
NET "SDRAM_DQ[4]"  LOC = "H25" ;
NET "SDRAM_DQ[3]"  LOC = "D30" ;
NET "SDRAM_DQ[2]"  LOC = "D29" ;
NET "SDRAM_DQ[1]"  LOC = "D28" ;
NET "SDRAM_DQ[0]"  LOC = "C27" ;

NET "SDRAM_SDA" LOC = "AF23";
NET "SDRAM_SCL" LOC = "AF22";

NET "SDRAM_SDA" IOSTANDARD = LVCMOS25;
NET "SDRAM_SCL" IOSTANDARD = LVCMOS25;


