NET "SW_0" LOC = "AC11";
NET "SW_1" LOC = "AD11";
NET "SW_2" LOC = "AF8";
NET "SW_3" LOC = "AF9";

NET "SW_0" IOSTANDARD = LVCMOS25;
NET "SW_1" IOSTANDARD = LVCMOS25;
NET "SW_2" IOSTANDARD = LVCMOS25;
NET "SW_3" IOSTANDARD = LVCMOS25;

