NET "CF_MPA[0]" LOC = "AF21";
NET "CF_MPA[1]" LOC = "AG21";
NET "CF_MPA[2]" LOC = "AC19";
NET "CF_MPA[3]" LOC = "AD19";
NET "CF_MPA[4]" LOC = "AE22";
NET "CF_MPA[5]" LOC = "AE21";
NET "CF_MPA[6]" LOC = "AH22";

NET "CF_MPA[*]" IOSTANDARD = LVCMOS25;
NET "CF_MPA[*]" DRIVE = 8;
NET "CF_MPA[*]" SLEW = SLOW;

NET "CF_MPD[0]" LOC = "AE15";
NET "CF_MPD[1]" LOC = "AD15";
NET "CF_MPD[2]" LOC = "AG14";
NET "CF_MPD[3]" LOC = "AF14";
NET "CF_MPD[4]" LOC = "AE14";
NET "CF_MPD[5]" LOC = "AD14";
NET "CF_MPD[6]" LOC = "AC15";
NET "CF_MPD[7]" LOC = "AB15";
NET "CF_MPD[8]" LOC = "AJ9";
NET "CF_MPD[9]" LOC = "AH9";
NET "CF_MPD[10]" LOC = "AE10";
NET "CF_MPD[11]" LOC = "AE9";
NET "CF_MPD[12]" LOC = "AD12";
NET "CF_MPD[13]" LOC = "AC12";
NET "CF_MPD[14]" LOC = "AG10";
NET "CF_MPD[15]" LOC = "AF10";


NET "CF_MPD[*]" IOSTANDARD = LVCMOS25;
NET "CF_MPD[*]" DRIVE = 8;
NET "CF_MPD[*]" SLEW = SLOW;

NET "CF_MP_CE_Z" LOC = "AB16";
NET "CF_MP_OE_Z" LOC = "AD17";
NET "CF_MP_WE_Z" LOC = "AC16";
NET "CF_MPIRQ" LOC = "AD16";
NET "CF_MPBRDY" LOC = "AE16";

NET "CF_MP_CE_Z" IOSTANDARD = LVCMOS25;
NET "CF_MP_OE_Z" IOSTANDARD = LVCMOS25;
NET "CF_MP_WE_Z" IOSTANDARD = LVCMOS25;
NET "CF_MPIRQ" IOSTANDARD = LVCMOS25;
NET "CF_MPBRDY" IOSTANDARD = LVCMOS25;


NET "CF_MP_CE_Z" DRIVE = 8;
NET "CF_MP_OE_Z" DRIVE = 8;
NET "CF_MP_WE_Z" DRIVE = 8;

NET "CF_MP_CE_Z" SLEW = SLOW;
NET "CF_MP_OE_Z" SLEW = SLOW;
NET "CF_MP_WE_Z" SLEW = SLOW;



