//! **************************************************************************
// Written by: Map J.36 on Fri Apr 19 18:20:13 2013
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "AJ15" LEVEL 1;
COMP "btn" LOCATE = SITE "AG5" LEVEL 1;
COMP "rx" LOCATE = SITE "AJ8" LEVEL 1;
COMP "tx" LOCATE = SITE "AE7" LEVEL 1;
COMP "reset" LOCATE = SITE "AG3" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;
